
body {
    margin: 0;
    padding: 0;
    background-image: url('../Assets/background.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    overflow: hidden;
}

.icons {
    width: 100%;
    height: auto;
}
.icons-smalls {
    margin-left: 40%;
}

.image-bar{
    margin-top: 110%;
    width: 100%;
}

/* Estilos para el canvas */
canvas {
    position: absolute;
    top: 2%;
    max-height: 100%;
    left: 37%;
    z-index: 1; /* Ajusta este valor a un número menor que el z-index de "image-play" para que esté por debajo */
}

.image-play-container {
    position: relative;
}

.image-play {
    max-height: 85%;
    /* Añade un z-index superior al de "canvas" para que esté por encima */
    z-index: 2;
}
